* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

}

/* BARRA DE ROLAGEM */ 


body::-webkit-scrollbar {
    width: 10px;    
}


body::-webkit-scrollbar-track {
    background: white; 
}


body::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 20px; 
    border: 3px solid black;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}


/* HEADER */

nav {
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

nav ul li {
    padding: 20px;
}

nav ul li a{
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: wheat;
    transition: 0.3s;
    
}

.botaohome {
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 122);
    border-radius: 50px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}



 /* MAIN */ 

 .container-main {
    
    width:100%;
    height: 100vh;
 }
.banner img {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    max-height: 700px;
    width: 100%;
}


.bem-vindo {
    display: flex;
    position: relative;
    top: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;

}

.bem-vindo p {
    margin-top: 20px;
    font-size: 11px;
}

.bem-vindo h1{
    font-size: 50px;
    
}
.btnwpp  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}



.btnwpp input {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.btnwpp input:hover {
    background-color: rgb(245, 237, 166);
    transition: 0.3s;
}

.wppicon {
    padding-right: 10px;
}


/* SECTION */

.section1{
    padding-bottom: 120px;
}
.container-section {

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 1230px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mover-tudo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-sobre {
    color: black;
    display: flex;
    flex-direction: column;
    width: 570px;
    padding-left: 30px;

}

.texto-sobre h1 {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
    cursor: pointer;
}
.texto-sobre h1:hover {
   color: gray;
   transition: 0.4s;
}

.texto-sobre p {
    line-height: 25px;
}


.borda {
    padding-top: 10px;
    border-bottom: 3px solid lightgoldenrodyellow;
}


 /* SECTION2 */




 .section2 {
    padding-bottom: 100px;
 }


.galeria  {
 display: flex;
 justify-content: center;
 align-items: center;

}
.galeria h1 {
     font-weight: bold;
     font-size: 100px;
     padding-bottom: 50px;
}

.imagens-galeria {
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.imagens-galeria .imgdog {
    border: 2px solid black;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imagens-galeria .imgdog:hover {
  transition: 0.3s;
  opacity: 0.7;
}


/* SECTION 3 */

.section3 {
    padding-bottom: 160px;
}

.mover-tudo3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section3 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 1230px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-contato {
    color: black;
    display: flex;
    flex-direction: column;
    width: 570px;
    padding-left: 30px;
}

.texto-contato h1 {
    cursor: pointer;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
    
}

.texto-contato h1:hover {
    color: gray;
    transition: 0.4s;
}

.texto-contato a {
    color: blue;
}
.texto-contato a:hover{
    transition: 0.3s;
    color: rgb(0, 0, 82);
}

.texto-contato p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.borda3 {
    margin-bottom: 30px;
    border-bottom: 3px solid lightgoldenrodyellow;
    width: 445px;
}

.borda4 {
    border-bottom: 3px solid lightgoldenrodyellow;
    width: 445px;
}




/* SECTION 4 */ 


.container-section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 130px;
}

.servicos  h1{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 100px;
    font-weight: bold;

}


/* BANHO E TOSA SERVIÇOS */

.banho-tosa {
    height: 100%;
    max-height: 520px;
    width: 100%;
    max-width: 290px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banho-tosa img {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    max-width: 290px;
    width: 100%;
}

.especificacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}

.especificacoes h1 {
    font-weight: bold;
    padding-bottom: 20px;
}

.especificacoes p {
   line-height: 21px;
   font-size: 16px;
}



.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 31.3px;
}

.btn a{
cursor: pointer;
padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
 max-width: 290px;
 width: 100%;
}



.btn  a:hover{
    color: gray;
}


/* ESCOVAÇÃO E DESEMBARAÇAMENTO */ 


.escovacao-e-desembaracamento {
    height: 100%;
    max-height: 520px;
    width: 100%;
    max-width: 290px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.escovacao-e-desembaracamento img {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    max-width: 290px;
    width: 100%;
}

.especificacoes2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}


.especificacoes2 h1 {
    font-weight: bold;
    padding-bottom: 20px;
}

.especificacoes2 p {
   line-height: 21px;
   font-size: 16px;
}

.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 31.3px;
}



.btn2 a{
cursor: pointer;
padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
 max-width: 290px;
 width: 100%;
}


.btn2  a:hover{
    color: gray;
}



/* LIMPEZA DE OUVIDO E DENTES */

.limpeza-de-ouvidos-e-dentes {
    height: 100%;
    max-height: 520px;
    width: 100%;
    max-width: 290px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.limpeza-de-ouvidos-e-dentes img {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    max-width: 290px;
    width: 100%;
}

.especificacoes3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}


.especificacoes3 h1 {
    font-weight: bold;
    padding-bottom: 20px;
}

.especificacoes3 p {
   line-height: 21px;
   font-size: 16px;
}

.btn3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 31.3px;
}

.btn3 a{
cursor: pointer;
padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
 max-width: 290px;
 width: 100%;
}

.btn3  a:hover{
    color: gray;
}


/* CORTE DE UNHA */ 

.corte-de-unha {
    height: 100%;
    max-height: 520px;
    width: 100%;
    max-width: 290px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.corte-de-unha img {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    max-width: 290px;
    width: 100%;
}

.especificacoes4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}


.especificacoes4 h1 {
    font-weight: bold;
    padding-bottom: 20px;
}

.especificacoes4 p {
   line-height: 21px;
   font-size: 16px;
}

.btn4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 31.3px;
}

.btn4 a{
cursor: pointer;
padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
 max-width: 290px;
 width: 100%;
}

.btn4  a:hover{
    color: gray;
}


/* footer */ 




.container-footer {
    height: 350px;
    background-color: #fafad2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



.primeiracoluna {
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.primeiracoluna p {
    line-height: 25px;
    width: 200px;
}


.ulli-footer li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   padding: 5px;
}

.ulli-footer li a {
    font-weight: bold;
 color: black;
}

.ulli-footer li a:hover {
    color: wheat;
    transition: 0.3s;
}

.redes-sociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    align-items: center;
}

.insta a{
    color: black;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.insta a:hover {
    color: wheat;
    transition: 0.3s;
}








